*.class
.metadata
lib/libopentld
lib/libopentld4j
lib/processing
lib/hypermedia
lib/json
lib/face4j
projects/Guardian/bb*.txt
projects/Guardian/_output
projects/Guardian/temp
projects/Guardian/persistent_photo
projects/Guardian/.classpath
projects/Guardian/.project
projects/Guardian/.settings
*~
lib/src/libopentld/mccExcludedFiles.log
*.fuse_hidden*
change_in_all_files.sh
projects/Guardian/.stop___MAS
tudor_backup